body{
background-color: lightblue;

}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

}

.iklan{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;

}

.iklan img{
    width: 500px;
    height: 400px;
    border-radius: 40px;  
}

.category{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.category img{
    border-radius: 100%;
}
.card{
    width: 16rem;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0 ,0 ,0.4);
    overflow: hidden;
    
}
.card img{
    width: 100%;
    height: 200px;
    display: block;
}


         .btn-grad {background-image: linear-gradient(to right, #403A3E 0%, #BE5869  51%, #403A3E  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         